.parent {
  display:flex;
  flex-direction:column;
  height: 100vh;
  background: linear-gradient(#334d57, #799096); 
  color: #fff;
  font-weight:bold;
  overflow: hidden;
}

.hidden {
  display: none;
}

.home {
  position: absolute;
  top: 2rem;
  right: 2.8rem;
}

.home button {
  background-color: #334d57;
  padding: 10px;
/*   color: black; */
  width: 6em;
  color: #799096;
  border-color:  #c5dce2;
}

.home button:hover {
  background-color:  #8dadb4;
  cursor:pointer;
}

.outer {
  display:flex;
  align-items:center;
}

#player {
  height:0;
}

.parent{
  display:flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  gap: 1.2%;
}

.box1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: solid;
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;

  width: 45%;
  
  font-size: 20px;
  background-color:#d3eeed;
  color: #000000;
}

#albumArt {
  border: solid;
}

#songName {
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#artistName {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.box2{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
/*   border: 10px solid; */
  border-radius: 5px;
  margin: 2rem;
  padding: 3em;

  min-height:30rem;
  min-width: 30rem;

  max-height:40rem;
  max-width: 40rem;
  
  overflow-y: scroll;
  text-align:center;
  font-size: 2rem;
}

.box2::-webkit-scrollbar {
  width: 0;
}

.outer button {
  background-color:#4c7d8a;
  border-radius: 5px;
  width: 100%;
  border: 2px solid #030303;
  padding: 9px;
}

.outer button:hover {
  background-color: #345e6a;
  cursor:pointer;
}

.outer button span {
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}

.button {
  padding:10px;
}

/* Hide Youtube Video */

.hiddenFrame{
  opacity: 0;
}

@media only screen and  (max-width: 1024px){
  .outer {
    padding-top: 10rem;
    overflow:scroll;
    flex-direction:column;
  }
  .home {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
  }
}